body{
  font-family:Lato,sans-serif;
  background-color:#6EA3AB   ;
  /*background-image:url(book.jpg);
  background-repeat: no-repeat;*/
}
.container_12
{
background-color:#6EA3AB ;
}
.menu li{
display:inline;
}
header{
background-color:#606261;
position:fixed;
margin-top:-1px;
height:80px;
border-radius:10px;
z-index: 9999;
}
.menu ul a{
text-decoration:none;
color:white;
font-size:20px;
padding-right:20px;
}
header ul a:hover{
  color:#15B3CB;

}
.heading{
text-shadow:10px 15px 15px black;
font-size:30px;
color:white;
}
.down
{
  margin-top: 28px;
}
.down1{
  margin-top: 40px;

}
.grid_3
{
margin-top:90px;
 width:100%;
 margin-left: 10px;
  margin-bottom: 10px;
  padding-right:0;
}
.category ul a{

  text-decoration:none;
  color:Black;
  font-size:18px;
  padding-right:20px;
  font-weight:lighter;
  line-height:50px;
  }
  .category ul li:hover{
    background-color:white;
  }
.category li{
  display:block;
  background-color:#606261;
}
.grid_2{
  margin-top:90px;
  padding-left: 5px;
  padding-right:10px;

}
.cmain{
  /*
background-color:#e3e3e3;
*/
 margin-top:100px;
 margin-bottom:25px;
}
.csecond{
  margin-top:30px;
  margin-bottom:25px;
}

section{
padding-right:0;
}
.image:hover
{
  position:relative;
  box-shadow: 0 0 30px black;
}
.cprimary p{
  font-size:12px;
  font-family:serif;
}
.cprimary p a{
  text-decoration:none;
  color:#3E10A0;

}
.cprimary p a:hover{
  color:#606261  ;
  font-size:12px;
}


h3{
  font-size:15px;
  font-style: italic;
  font-family:monospace;
  color:white;
}
footer{
  background-color:#606261;
  height:100px;
  margin-top:0;
  margin-right:-3px;
}
footer li{
  display:inline;
}
footer ul a{
text-decoration:none;
color:blue;
font-size:15px;
font-weight: lighter;
padding-right:10px;
}
